<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Cimpress.Cimbol tests" Description="Code analysis rules for Cimpress.Cimbol tests." ToolsVersion="15.0">
   <Include Path="../Cimpress.Cimbol.ruleset" Action="Default" />
   <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
     <Rule Id="SA0001" Action="None" /> <!-- Do not require that tests output documentation -->
     <Rule Id="SA1600" Action="None" /> <!-- Do not require that elements be documented -->
   </Rules>
</RuleSet>
