<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageSources>
    <add key="NuGet" value="https://nuget.org/api/v2/" />
    <add key="ArtifactoryCimpress" value="https://artifactory.cimpress.io/artifactory/api/nuget/nuget-release-local" />
  </packageSources>
  <disabledPackageSources>
    <add key="https://www.nuget.org/api/v2/" value="true" />
  </disabledPackageSources>
  <packageSourceCredentials>
    <ArtifactoryCimpress>
      <add key="Username" value="%CT_ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%CT_ARTIFACTORY_API_KEY%" />
    </ArtifactoryCimpress>
  </packageSourceCredentials>
</configuration>
